<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="./providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="MySql"/>
    <dataSource name="MySql" 
                connectionString="
                Data Source=127.0.0.1;
                Database=ordermanager;
                User ID=user;
                Password=user"/>
  </database>

	<sqlMaps>
			<sqlMap resource="./bin/DB/XML/TestSql.xml" />
	</sqlMaps>

</sqlMapConfig>